Flask==2.3.3
flask-masonite
Flask-SQLAlchemy==3.0.5
Flask-Marshmallow==0.15.0
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
Flask-Login==0.6.3
Flask-JWT-Extended==4.5.3
Flask-Migrate==4.0.5
Flask-CORS==4.0.0
python-dotenv==1.0.0
WTForms==3.0.1
Flask-WTF==1.2.1
Marshmallow==3.20.1
bcrypt==4.0.1
email-validator==2.0.0
Pillow==10.0.0
requests==2.31.0
click>=8.0